In [79]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

In [80]:
df = pd.read_csv('../Churn_Modelling.csv')

In [81]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [82]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [83]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [84]:
df['Gender'] = encoder.fit_transform(df['Gender'])
df['Geography'] = encoder.fit_transform(df['Geography'])

In [85]:
X = df.iloc[:,3:13]
y = df['Exited']

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 5)

In [88]:
model = Sequential()
model.add(Dense(units= 10,activation='relu'))
model.add(Dense(units=3,activation='relu'))
model.add(Dense(units=1,activation='relu'))

In [89]:
model.compile(loss='binary_crossentropy',optimizer='sgd',metrics=['accuracy'])

In [91]:
model.fit(X_train.values,y_train.values,epochs=5,batch_size=100)

Epoch 1/5
7500/7500 [==============================] - 0s 22us/step - loss: 3.1590 - accuracy: 0.7952
Epoch 2/5
7500/7500 [==============================] - 0s 12us/step - loss: 3.1590 - accuracy: 0.7952
Epoch 3/5
7500/7500 [==============================] - 0s 13us/step - loss: 3.1590 - accuracy: 0.7952
Epoch 4/5
7500/7500 [==============================] - 0s 12us/step - loss: 3.1590 - accuracy: 0.7952
Epoch 5/5
7500/7500 [==============================] - 0s 12us/step - loss: 3.1590 - accuracy: 0.7952

In [92]:
y_pred = model.predict(X_test)

In [93]:
model.evaluate(X_test,y_test)

2500/2500 [==============================] - 0s 26us/step

[3.091159659957886, 0.7996000051498413]