In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
#os.listdir('..')
from sklearn.preprocessing import Normalizer

In [23]:
df = pd.read_csv('../foods.csv')
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [24]:
converter = LabelEncoder()

In [25]:
df['Gender']= pd.get_dummies(df['Gender'],drop_first=True)
df['City']= pd.get_dummies(df['City'])
df['Frequency']= pd.get_dummies(df['Frequency'])
df['Item']= pd.get_dummies(df['Item'])
df.head()

  First Name  Gender  City  Frequency  Item  Spend
0      Wanda       0     0          0     1  15.66
1       Eric       1     0          1     0  10.56
2    Charles       1     1          0     0  42.14
3       Anna       0     0          0     0  11.01
4    Deborah       0     0          1     0  23.49

In [26]:
df['City']= converter.fit_transform(df['City'])
df['Frequency']= converter.fit_transform(df['Frequency'])
df['Item']= converter.fit_transform(df['Item'])

In [27]:
df['City'] =pd.get_dummies(df['City'])

In [32]:
df =  df.iloc[:,1:]
df.head()

   City  Frequency  Item  Spend
0     1          0     1  15.66
1     1          1     0  10.56
2     0          0     0  42.14
3     1          0     0  11.01
4     1          1     0  23.49

In [ ]:
X = df.iloc[:,1:-1]
y = df.iloc[:,-1]
df.head()

In [34]:
df.corr(method ='kendall')

               City  Frequency      Item     Spend
City       1.000000  -0.057191  0.016807 -0.009017
Frequency -0.057191   1.000000  0.021063  0.010321
Item       0.016807   0.021063  1.000000 -0.003553
Spend     -0.009017   0.010321 -0.003553  1.000000

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.27)

In [ ]:
model1 = Ridge()

In [ ]:
modelRid =  model1.fit(X_train,y_train)

In [ ]:
model2 = LinearRegression()

In [ ]:
modelLR = model2.fit(X_train,y_train)

In [ ]:
y_pred_Rid = modelRid.predict(X_test)
y_pred_LR = modelLR.predict(X_test)

In [17]:
from sklearn.metrics import r2_score

In [ ]:
r2 = r2_score(y_test,y_pred_Rid)

In [ ]:
modelRid.score(X_test,y_test)

In [ ]:
# improving the R2 score

In [3]:
df1 = pd.read_csv('../foods.csv')

In [4]:
df1.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [5]:
df1 =df1.iloc[:,1:]

In [6]:
df1.head()

   Gender          City Frequency       Item  Spend
0  Female      Stamford    Weekly     Burger  15.66
1    Male      Stamford     Daily    Chalupa  10.56
2    Male      New York     Never      Sushi  42.14
3  Female  Philadelphia      Once  Ice Cream  11.01
4  Female  Philadelphia     Daily    Chalupa  23.49

In [7]:
df1['Gender'].replace({'Male':0,"Female":1},inplace=True)

In [ ]:
#from sklearn.preprocessing import MinMaxScaler

In [ ]:
#scaler = Normalizer()

In [ ]:
#df1['Spend'] = converter.fit_transform(df1['Spend'])

In [8]:
df2 = pd.get_dummies(data=df1, columns=['City','Frequency','Item'])

In [9]:
X = df2.drop('Spend',axis='columns')
y = df2['Spend']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3)

In [11]:
lin = LinearRegression()

In [12]:
rid = Ridge()

In [13]:
modelLR = lin.fit(X_train,y_train)

In [14]:
modelRid = rid.fit(X_train,y_train)

In [15]:
LRpred = modelLR.predict(X_test)
Ridpred = modelRid.predict(X_test)

In [18]:
rr2  =r2_score(y_test,LRpred)
rr3  =r2_score(y_test,Ridpred)

In [19]:
rr2

-0.0531299976030053

In [20]:
df1.corr(method ='pearson')

          Gender     Spend
Gender  1.000000  0.023663
Spend   0.023663  1.000000

In [36]:
df.corr(method ='pearson')

               City  Frequency      Item     Spend
City       1.000000  -0.057191  0.016807 -0.010727
Frequency -0.057191   1.000000  0.021063  0.012314
Item       0.016807   0.021063  1.000000 -0.004484
Spend     -0.010727   0.012314 -0.004484  1.000000