In [194]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

In [195]:
df = pd.read_csv("Heart.csv")
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [264]:
import matplotlib.pyplot as plt
%matplotlib inline

In [197]:
converter = LabelEncoder()

In [198]:
df["ChestPain"] = converter.fit_transform(df["ChestPain"])

In [199]:
#Checks for entire df na values
df.isna().any()

Unnamed: 0    False
Age           False
Sex           False
ChestPain     False
RestBP        False
Chol          False
Fbs           False
RestECG       False
MaxHR         False
ExAng         False
Oldpeak       False
Slope         False
Ca             True
Thal           True
AHD           False
dtype: bool

In [200]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,0,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,0,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,1,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,2,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [201]:
df['Thal'].value_counts()

normal        166
reversable    117
fixed          18
Name: Thal, dtype: int64

In [202]:
df["AHD"] = converter.fit_transform(df["AHD"])

In [203]:
# converting Thal to String for label encoding
df['Thal'] = df['Thal'].astype(str)
df['Thal'] = converter.fit_transform(df['Thal'])

In [210]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,2,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,3,1
3,4,37,1,1,130,250,0,0,187,0,3.5,3,2,0
4,5,41,0,2,130,204,0,2,172,0,1.4,1,2,0

In [209]:
df= df.drop(["Ca"],axis =1)

In [211]:
scaler = StandardScaler()

In [212]:
from sklearn.model_selection import train_test_split

In [222]:
X=df.iloc[:,1:-1]
y = df.iloc[:,-1]

In [223]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25)

In [224]:
#Optional Scaling for later use

X_train_scale = scaler.fit_transform(X_train)
y_train_scale = scaler.fit_transform(X_test)

In [225]:
df.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,2,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,3,1
3,4,37,1,1,130,250,0,0,187,0,3.5,3,2,0
4,5,41,0,2,130,204,0,2,172,0,1.4,1,2,0

In [257]:
logistic =  LogisticRegression()
Naive = GaussianNB()
Knear = KNeighborsClassifier(n_neighbors=7)

In [227]:
df.isna().any()

Unnamed: 0    False
Age           False
Sex           False
ChestPain     False
RestBP        False
Chol          False
Fbs           False
RestECG       False
MaxHR         False
ExAng         False
Oldpeak       False
Slope         False
Thal          False
AHD           False
dtype: bool

In [244]:
model = Naive.fit(X_train,y_train)

In [245]:
model1 = logistic.fit(X_train,y_train)

/home/sunbeam/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [246]:
model2 = Knear.fit(X_train,y_train)

In [247]:
model_pred = model.predict(X_test)

In [248]:
model1_pred = model1.predict(X_test)

In [258]:
model2_pred = model2.predict(X_test)

In [250]:
from sklearn.metrics import accuracy_score,confusion_matrix,ConfusionMatrixDisplay

In [251]:
Naive_acc = accuracy_score(y_test,model_pred)

In [252]:
Logistic_acc = accuracy_score(y_test,model1_pred)

In [259]:
Knn_acc = accuracy_score(y_test,model_pred)

In [254]:
Naive_acc

0.8289473684210527

In [255]:
Logistic_acc

0.7894736842105263

In [260]:
Knn_acc

0.8289473684210527

In [270]:
conf_matrix = confusion_matrix(y_test,model_pred)
print(conf_matrix)

[[32  8]
 [ 5 31]]