In [2]:
import numpy as np
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense

In [3]:
df = pd.read_csv('../Churn_Modelling.csv')

In [4]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [10]:
X = df.iloc[:,3:13]
y = df['Exited']

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder

In [17]:
df['Gender'] = encoder.fit_tra(df['Gender'])
df['Geography'] = encoder.fit_transform(df['Geography'])

TypeError: fit_transform() missing 1 required positional argument: 'y'

TypeError: fit_transform() missing 1 required positional argument: 'y'