In [47]:
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
#os.listdir('..')

In [32]:
df = pd.read_csv('../foods.csv')
df.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [27]:
converter = LabelEncoder()

In [34]:
df['Gender']= pd.get_dummies(df['Gender'],drop_first=True)

In [36]:
df['City']= converter.fit_transform(df['City'])
df['Frequency']= converter.fit_transform(df['Frequency'])
df['Item']= converter.fit_transform(df['Item'])

In [70]:
X = df.iloc[:,1:-1]
y = df.iloc[:,-1]
df.head()

  First Name  Gender  City  Frequency  Item  Spend
0      Wanda       0     2          6     0  15.66
1       Eric       1     2          0     2  10.56
2    Charles       1     0          2     5  42.14
3       Anna       0     1          4     4  11.01
4    Deborah       0     1          0     2  23.49

In [46]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.27)

In [48]:
model1 = Ridge()

In [54]:
modelRid =  model1.fit(X_train,y_train)

In [51]:
model2 = LinearRegression()

In [53]:
modelLR = model2.fit(X_train,y_train)

In [76]:
y_pred_Rid = modelRid.predict(X_test)
y_pred_LR = modelLR.predict(X_test)

In [77]:
from sklearn.metrics import r2_score

In [78]:
r2 = r2_score(y_test,y_pred_Rid)